.pagination-product {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  background-color: #47ccde;
  /* border: 1px solid #47ccde ; */
  width: fit-content;
  border-radius: 3px;
  padding: 1px;
}
.pagination-product > .active > a {
  /* background-color: #47ccde ; */
  /* border-color: #47ccde ; */
  color: #fff;
}
.pagination-product > li > a {
  border: 2px solid #47ccde;
  padding: 0px 10px;
  background-color: white;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}
.pagination-product > .active > a,
.pagination-product > .active > span,
.pagination-product > .active > a:hover,
.pagination-product > .active > span:hover,
.pagination-product > .active > a:focus,
.pagination-product > .active > span:focus {
  background-color: darkcyan;
  border-color: darkcyan;
  outline: none;
}
.pagination-product > li > a,
.pagination-product > li > span {
  color: darkcyan;
  font-weight: bold;
}
.pagination-product > li:first-child > a,
.pagination-product > li:first-child > span,
.pagination-product > li:last-child > a,
.pagination-product > li:last-child > span {
  border-radius: unset;
}

#pro-img {
  object-fit: cover;
  width: inherit;
  height: 230px;
  /* margin-left: -8%; */
}

.pro-title {
  text-align: center;
}
